In [7]:
import pandas as pd
pd.set_option('display.max_columns', False)
import time
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
data = pd.read_csv('liste_des_prenoms_2004_a_2012.csv', sep=';')

In [9]:
data.head()

     Prenoms  Nombre Sexe  Annee
0       Adam     353    M   2016
1  Alexandre     197    M   2016
2     Victor     197    M   2016
3       Liam     129    M   2016
4      Ethan     119    M   2016

In [10]:
data.shape

(15324, 4)

In [11]:
data.Sexe.value_counts()

F    7790
M    7506
X      28
Name: Sexe, dtype: int64

In [13]:
len(data.Prenoms.unique())

2315

In [15]:
data.Annee.value_counts()

2014    1311
2016    1311
2015    1305
2012    1301
2011    1295
2013    1283
2010    1136
2009    1124
2006    1078
2008    1060
2007    1053
2005    1045
2004    1022
Name: Annee, dtype: int64

In [45]:
def top_n(N):
    result = {}
    for year in sorted(data.Annee.unique()):
        aux = data[data.Annee == year]
        aux = aux.sort('Nombre', ascending = False)
        girls = aux[aux.Sexe == 'F'].Prenoms.tolist()[:N]
        boys = aux[aux.Sexe == 'M'].Prenoms.tolist()[:N]
        result[year] = [girls, boys]
    return result

In [55]:
N = 5
a = top_n(N)
for year in sorted(a.keys()):
    res = a[year]
    print('In {}, the {} most popular names for girls were {}, whereas the {} most popular \
          for boys were {}.'.format(year, N, res[0], N, res[1]))
    print('\n')

In 2004, the 5 most popular names for girls were ['Camille', 'Inès', 'Emma', 'Louise', 'Sarah'], whereas the 5 most popular           for boys were ['Alexandre', 'Paul', 'Thomas', 'Raphaël', 'Gabriel'].


In 2005, the 5 most popular names for girls were ['Inès', 'Emma', 'Camille', 'Sarah', 'Clara'], whereas the 5 most popular           for boys were ['Alexandre', 'Raphaël', 'Arthur', 'Paul', 'Antoine'].


In 2006, the 5 most popular names for girls were ['Camille', 'Emma', 'Inès', 'Sarah', 'Louise'], whereas the 5 most popular           for boys were ['Raphaël', 'Alexandre', 'Gabriel', 'Thomas', 'Louis'].


In 2007, the 5 most popular names for girls were ['Louise', 'Emma', 'Camille', 'Chloe', 'Sarah'], whereas the 5 most popular           for boys were ['Gabriel', 'Raphaël', 'Alexandre', 'Paul', 'Louis'].


In 2008, the 5 most popular names for girls were ['Louise', 'Chloe', 'Camille', 'Emma', 'Sarah'], whereas the 5 most popular           for boys were ['Gabriel', 'Raphaël', 'Adam', 'Arthur', 'Alexandre'].


In 2009, the 5 most popular names for girls were ['Louise', 'Camille', 'Chloe', 'Emma', 'Sarah'], whereas the 5 most popular           for boys were ['Gabriel', 'Raphaël', 'Alexandre', 'Adam', 'Paul'].


In 2010, the 5 most popular names for girls were ['Louise', 'Chloe', 'Camille', 'Emma', 'Sarah'], whereas the 5 most popular           for boys were ['Gabriel', 'Arthur', 'Raphaël', 'Adam', 'Louis'].


In 2011, the 5 most popular names for girls were ['Louise', 'Chloe', 'Emma', 'Inès', 'Alice'], whereas the 5 most popular           for boys were ['Gabriel', 'Arthur', 'Raphaël', 'Adam', 'Paul'].


In 2012, the 5 most popular names for girls were ['Louise', 'Chloe', 'Inès', 'Alice', 'Sarah'], whereas the 5 most popular           for boys were ['Gabriel', 'Adam', 'Arthur', 'Louis', 'Raphaël'].


In 2013, the 5 most popular names for girls were ['Louise', 'Chloé', 'Alice', 'Sarah', 'Inès'], whereas the 5 most popular           for boys were ['Gabriel', 'Adam', 'Raphaël', 'Louis', 'Arthur'].


In 2014, the 5 most popular names for girls were ['Louise', 'Chloé', 'Inès', 'Alice', 'Jeanne'], whereas the 5 most popular           for boys were ['Gabriel', 'Adam', 'Raphaël', 'Louis', 'Paul'].


In 2015, the 5 most popular names for girls were ['Louise', 'Alice', 'Chloé', 'Emma', 'Inès'], whereas the 5 most popular           for boys were ['Adam', 'Gabriel', 'Raphaël', 'Paul', 'Louis'].


In 2016, the 5 most popular names for girls were ['Louise', 'Emma', 'Alice', 'Chloé', 'Jeanne'], whereas the 5 most popular           for boys were ['Gabriel', 'Adam', 'Raphaël', 'Louis', 'Arthur'].

C:\Users\Peter martigny\Anaconda3\envs\py35\lib\site-packages\ipykernel\__main__.py:5: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [50]:
sorted(a.keys())

[2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]